    if SHIELD_iteMX_left

config ZMK_KEYBOARD_NAME
    default "iteMX"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_iteMX_left || SHIELD_iteMX_right

config ZMK_SPLIT
    default y

endif