    if SHIELD_itemtrois_left

config ZMK_KEYBOARD_NAME
    default "itemtrois"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_itemtrois_left || SHIELD_itemtrois_right

config ZMK_SPLIT
    default y

endif