#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |
            bindings = <
        &kp TAB	  &kp Z	     &kp Q	   &kp W	 &kp V     &kp Y            &kp B	    &kp U	    &kp O	   &kp APOS	 &kp C	&kp BSLH
	    &kp G	  &kp R	     &kp S	   &kp A	 &kp D	   &kp P            &kp COMMA   &kp J	    &kp K	   &kp SEMI	 &kp L	&kp SLASH
                  &kp M	     &kp X	   &kp T	 &kp E	   &kp NUBS         &kp N	    &kp I	    &kp LBKT   &kp DOT   &kp H	 
                             &kp LALT  &kp LCTRL &kp LSHFT &kp F	        &kp SPACE   &kp RSHFT   &mo 1	   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};