    if SHIELD_itemun_left

config ZMK_KEYBOARD_NAME
    default "itemun"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_itemun_left || SHIELD_itemun_right

config ZMK_SPLIT
    default y

endif